    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }


    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

	#float{float:right;}

	#h1{color:#CCC}

	#text2{color:#FFF;font-size:14px;}

	#p2 {color:#CCC;
	font-size:14px;
	background-color:#000; 
	text-decoration:none;
	padding:5px;
	box-shadow:#FFF 1px 1px 1px;}
	
	#p2:hover{color:#FFF;
	font-size:14px; 
	background-color:#09F; 
	text-decoration:none; 
	padding:5px;}

	#con{padding-top:180px;}

	#main { width: 960px; 
	height: 380px; 
	margin-left:auto; 
	margin-right:auto; 
	font-size:11px; 
	position: relative; 
	box-shadow: #000 5px 5px 20px; 
	padding:25px;
	background-image:url(contact.jpg); }

	#text{
	width:400px;
	color:#FFF;
	font-size:12px;
}

    #fashion{
		font-size:16px;
		color:#CCC;
		font-weight:600;
	}
	
	iframe{ float:left; margin-right:15px;}
	
	#shoutbox{
		font-size:13px;
		color:#CCC;
		font-weight:500;
		float:left;
	}
	
	#imgFashion{
		text-align:right;
		margin-top:250px;
		margin-left:310px;
		box-shadow: #000 10px 10px 50px; 
	}